*.env
.env
.venv/
venv/
*/.venv/
*/venv/
__pycache__/
*/__pycache__/
build/
*/build/
node_modules/
*/node_modules/

# Model file exceptions (tracked with Git LFS)
!backend/worker/efficientnet/cnn_bundle.pkl
!backend/worker/efficientnet/cnn_final.pth

# Ignore other model files
**/*.pth
**/*.pt
**/*.pkl
**/*.joblib

# Ignore model statistic output images
models/**/*.png