@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900; /* variable font range */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src: url("./assets/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Nunito Sans Added */
@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("./assets/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  @apply font-sans text-gray-800 bg-white text-lg;
  font-family: "Nunito", sans-serif;
}

/* Raleway Added */
@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100;
  font-style: normal;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

@layer utilities {
  .thin-box {
    @apply rounded-md border border-[#9D9D9D] bg-white;
  }
}

/* Invisible Scrollbar */

/* For Firefox */
* {
  scrollbar-width: none;
}

/* For Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

